body {
    margin: auto;
    padding: auto;
    float: left;
}

#form {
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 20%;
    float: left;
}

.container h1 {
    margin-top: 60px;
}