.container {
    position: relative;
    width: 100%;
    max-width: auto;
}

.container img {
    width: 100%;
    height: auto;
}

#btn1 {
    position: absolute;
    top: 50%;
    left: 10%;
    float: left;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

#btn2 {
    position: absolute;
    top: 50%;
    right: 0.3%;
    float: right;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}